<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="setup">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=ulfI10zHl6NeFCxPcyEd2g9jP6q4nNh3fnf75cV7"></script>
    <style>
        body{
            margin-top: 50px;
            margin-bottom : 0;
            margin-left : 0;
            margin-right 0;
            padding: 0;
            overflow:hidden;
        }
        .button{
            position: absolute;
            top: 60px;
            left: 5%;
        }
    </style>
</head>
</html>