<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>simpleMap</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=ulfI10zHl6NeFCxPcyEd2g9jP6q4nNh3fnf75cV7"></script>
  <script type="text/javascript" th:inline="javascript">
	var map;
	var lonlat;
	var marker_s, marker_e;
	var polyline;
	var streetLightLatitude = JSON.parse([[${streetLightLatitude}]]);
	var streetLightLongitude = JSON.parse([[${streetLightLongitude}]]);
	var startLocation = JSON.parse([[${startLocation}]]);
	var endLocation = JSON.parse([[${endLocation}]]);
	var waypointLatitude = JSON.parse([[${waypointLatitude}]]);
	var waypointLongitude = JSON.parse([[${waypointLongitude}]]);
	var markers = [];
	var drawInfoArr = [];
	var streetLightMarker = [];
	var streetLightRange = [];

	function initTmap() {
		map = new Tmapv2.Map("map_div", {
		center : new Tmapv2.LatLng(startLocation[0], startLocation[1]),
			width : "100%",
			height : "650px",
			zoom : 18
		});

		for(var i=0;i<waypointLatitude.length;i++){
		  drawInfoArr.push(new Tmapv2.LatLng(waypointLatitude[i],waypointLongitude[i]));
		}

		polyline = new Tmapv2.Polyline({
			path : drawInfoArr,
			strokeColor : "#DD0000",
			strokeWeight : 6,
			map : map
		});

		for ( var i=0; i<streetLightLatitude.length; i++){
		    var lightLocation = new Tmapv2.LatLng(streetLightLatitude[i],streetLightLongitude[i]);
		    var lightRange = new Tmapv2.Circle({
			    center: lightLocation,
			    radius: 20,
			    strokeColor: "blue",
			    strokeOpacity: 0.1,
			    fillColor: "blue",
			    fillOpacity: 0.1,
			    map: map
		    });
            var lightMarker = new Tmapv2.Marker({
			    position: lightLocation,
			    icon : "http://localhost:8080/img/marker/LightMarker.png",
			    map: map
		    });
		}

		marker_s = new Tmapv2.Marker({
				position : new Tmapv2.LatLng(startLocation[0], startLocation[1]),
				icon : "http://localhost:8080/img/marker/StartMarker.png",
				map : map
		});

		marker_e = new Tmapv2.Marker({
				position : new Tmapv2.LatLng(endLocation[0], endLocation[1]),
				icon : "http://localhost:8080/img/marker/EndMarker.png",
				map : map
		});

		map.addListener("click", onClick);
    }

    function onClick(e){
        removeMarkers();
		lonlat = e.latLng;
		var marker = new Tmapv2.Marker({
			position: new Tmapv2.LatLng(lonlat.lat(),lonlat.lng()),
			icon : "http://localhost:8080/img/marker/LocationMarker.png",
			map: map
		});
		markers.push(marker);
		document.getElementById("marker_x").value = JSON.stringify(lonlat.lng());
		document.getElementById("marker_y").value = JSON.stringify(lonlat.lat());
	}

	function removeMarkers() {
		for (var i = 0; i < markers.length; i++) {
			markers[i].setMap(null);
		}
		markers = [];
	}
</script>
</head>
<body onload="initTmap();">
<div id="map_wrap" class="map_wrap3">
  <form method="post">
    <input type="hidden" id="marker_x" name="marker_x" value="" />
    <input type="hidden" id="marker_y" name="marker_y" value="" />
    <button type="submit">경유지 추가</button>
  </form>
  <button onclick="location.href='./search'">경로 재탐색</button>
  <button>경로 저장</button>
  <button>로그아웃</button>
  <div id="map_div"></div>
</div>
<div class="map_act_btn_wrap clear_box"></div>
<p id="result"></p>
</body>
</html>