<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>simpleMap</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=TMAP_APPKEY"></script>
  <script type="text/javascript">
	var map;
	var lonlat;
	var marker;
	var markers = [];
	var start = [];
	var end = [];

	function initTmap() {
		map = new Tmapv2.Map("map_div", {
		center : new Tmapv2.LatLng(36.333880369392965, 127.39340505429725),
			width : "100%",
			height : "650px",
			zoom : 18
		});
		map.addListener("click", onClick);
    }

    function onClick(e){
        resetMarkers();
		lonlat = e.latLng;
		marker = new Tmapv2.Marker({
			position: new Tmapv2.LatLng(lonlat.lat(),lonlat.lng()),
			icon : "http://localhost:8080/img/marker/EndMarker.png",
			map: map
		});
		markers.push(marker);
		end[0]=lonlat.lat();
		end[1]=lonlat.lng();
		if(start[0]!=null){
		    var before = new Tmapv2.Marker({
		        position: new Tmapv2.LatLng(start[0],start[1]),
		        icon : "http://localhost:8080/img/marker/StartMarker.png",
		        map: map
		    });
		    markers.push(before);
		    document.getElementById("start").value = JSON.stringify(start);
		    document.getElementById("end").value = JSON.stringify(end);
		}
	}

	function resetMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
        start[0]=end[0];
        start[1]=end[1];
	}
</script>
</head>
<body onload="initTmap();">
    <form method="post">
        <input type="hidden" id="start" name="start" value="" />
        <input type="hidden" id="end" name="end" value="" />
        <button type="submit">경로탐색</button>
    </form>
    <button type="button" onclick="location.href='/logout'">로그아웃</button>
    <div id="map_div"></div>
</body>
</html>
