<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>simpleMap</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=oY9OX6wOom2L35mdLchn44TOgRxWfrZe4fahCyCO"></script>
  <script type="text/javascript">
	var map;
	var marker, marker_s, marker_e;
	var totalMarkerArr = [];
	var drawInfoArr = [];
	var resultDrawArr = [];

	function initTmap() {
		map = new Tmapv2.Map("map_div", {
		center : new Tmapv2.LatLng(36.81044675656011, 127.14644790564539),
			width : "100%",
			height : "600px",
			zoom : 16
		});

		marker_s = new Tmapv2.Marker({
				position : new Tmapv2.LatLng(36.81044675656011,127.14644790564539),
				icon : "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png",
				iconSize : new Tmapv2.Size(24, 38),
				map : map
		});

		marker_e = new Tmapv2.Marker({
				position : new Tmapv2.LatLng(36.81207191888851,127.15305344458622),
				icon : "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png",
				iconSize : new Tmapv2.Size(24, 38),
				map : map
		});

		var headers = {};
		headers["appKey"]="oY9OX6wOom2L35mdLchn44TOgRxWfrZe4fahCyCO";

		$.ajax({
				method : "POST",
				headers : headers,
				url : "https://apis.openapi.sk.com/tmap/routes/pedestrian?version=1&format=json&callback=result",
				async : false,
				data : {
					"startX" : "127.14644790564539",
					"startY" : "36.81044675656011",
					"endX" : "127.15305344458622",
					"endY" : "36.81207191888851",
					"reqCoordType" : "WGS84GEO",
					"resCoordType" : "EPSG3857",
					"startName" : "출발지",
					"endName" : "도착지"
				},
				success : function(response) {
					var resultData = response.features;

					var tDistance = "총 거리 : "
							+ ((resultData[0].properties.totalDistance) / 1000)
									.toFixed(1) + "km,";
					var tTime = " 총 시간 : "
							+ ((resultData[0].properties.totalTime) / 60)
									.toFixed(0) + "분";

					$("#result").text(tDistance + tTime);

					if (resultDrawArr.length > 0) {
						for ( var i in resultDrawArr) {
							resultDrawArr[i]
									.setMap(null);
						}
						resultDrawArr = [];
					}

					drawInfoArr = [];

					for ( var i in resultData) {
						var geometry = resultData[i].geometry;
						var properties = resultData[i].properties;
						var polyline_;

						if (geometry.type == "LineString") {
							for ( var j in geometry.coordinates) {
								var latlng = new Tmapv2.Point(
										geometry.coordinates[j][0],
										geometry.coordinates[j][1]);
								var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(latlng);
								var convertChange = new Tmapv2.LatLng(
										convertPoint._lat,
										convertPoint._lng);
								drawInfoArr.push(convertChange);
							}
						} else {
							var markerImg = "";
							var pType = "";
							var size;

							if (properties.pointType == "S") {
								markerImg = "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png";
								pType = "S";
								size = new Tmapv2.Size(24, 38);
							} else if (properties.pointType == "E") {
								markerImg = "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png";
								pType = "E";
								size = new Tmapv2.Size(24, 38);
							} else {
								markerImg = "http://topopen.tmap.co.kr/imgs/point.png";
								pType = "P";
								size = new Tmapv2.Size(8, 8);
							}

							var latlon = new Tmapv2.Point(geometry.coordinates[0],geometry.coordinates[1]);
							var convertPoint = new Tmapv2.Projection.convertEPSG3857ToWGS84GEO(latlon);
							var routeInfoObj = {
								markerImage : markerImg,
								lng : convertPoint._lng,
								lat : convertPoint._lat,
								pointType : pType
							};

							marker_p = new Tmapv2.Marker(
									{
										position : new Tmapv2.LatLng(routeInfoObj.lat,routeInfoObj.lng),
										icon : routeInfoObj.markerImage,
										iconSize : size,
										map : map
									});
						}
					}
					map.on("ConfigLoad",drawLine(drawInfoArr));
				},
				error : function(request, status, error) {
					console.log("code:" + request.status + "\n"
							+ "message:" + request.responseText + "\n"
							+ "error:" + error);
				}
		});

	    map.on("Click", function(evt){
            lngLat = evt.data.lngLat;
            console.log(lngLat);
            marker = new Tmapv2.Marker({
                position: new Tmapv2.LatLng(lngLat._lat,lngLat._lng),
                map: map
            });
		    document.getElementById("marker_x").innerHTML = "x 좌표: " + lngLat._lng;
		    document.getElementById("marker_y").innerHTML = "y 좌표: " + lngLat._lat;
        });

    }

	function addComma(num) {
		var regexp = /\B(?=(\d{3})+(?!\d))/g;
		return num.toString().replace(regexp, ',');
	}

	function drawLine(arrPoint) {
		var polyline_;

		polyline_ = new Tmapv2.Polyline({
			path : arrPoint,
			strokeColor : "#DD0000",
			strokeWeight : 6,
			map : map
		});
		resultDrawArr.push(polyline_);
	}
</script>
</head>
<body onload="initTmap();">
  <div id="map_wrap" class="map_wrap3">
    <div id="map_div"></div>
  </div>
  <div class="map_act_btn_wrap clear_box"></div>
  <p id="result"></p>
</body>
</html>
